/* styles/AuthForm.css */
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Pacifico&family=Poppins:wght@200&family=Raleway:ital,wght@0,300;0,400;1,200&family=Roboto+Mono:wght@300&display=swap");
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  .auth-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Raleway", sans-serif;
    background: black;
    color: white;

    h2 {
      text-align: center;
    }

    label {
      display: block;
      margin-top: 10px;
      font-weight: 600;
    }

    input {
      width: 100%;
      color: black;
      font-weight: 800;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      width: 50%;
      display:block;
      padding: 5px;
      margin-left:25%;
      margin-top:5%;
      background-color: white;
      color: black;
      font-weight:700;
      font-size: 1.1rem;

      /* Choose your preferred color */
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
      color: white;
        background-color: dodgerblue;

        /* Change the color on hover */
      }
    }
  }
}
